<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

    <div class="d-flex vh-100">
        <div th:replace="~{fragments :: sidebar}"></div>

        <main class="content-area p-4 w-100 bg-light">
            <header class="d-flex justify-content-between">
                <h1>Parcelas</h1>
                <i class="ri-user-3-fill profile-icon"></i>
            </header>
            <div class="options">
                <button class="btn btn-primary">Agregar Parcela</button>
            </div>

            <div class="cards">

            </div>
        </main>
        <script th:src="@{/js/plot/plot.js}"></script>
</body>

</html>