<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrosys</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/remixicon/remixicon.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/common/validateFormData.js}"></script>
</head>

<body>
    <aside th:fragment="sidebar" class="sidebar d-flex flex-column px-2 bg-dark">
        <div class="logo"></div>
        <nav class="d-flex flex-column justify-content-center w-100 h-100 p-2 bg-dark gap-1">
            <a th:href="@{/home}" type="button"
                class="text-decoration-none text-warning"><i class="ri-home-9-fill fs-5"></i></a>
            <a th:href="@{/plots}" th:if="${#lists.contains(modules, 'MODULE_PARCELAS')}"
                class="text-decoration-none text-light"><i class="ri-plant-fill fs-5"></i></a>
            <a th:href="@{/transactions}" th:if="${#lists.contains(modules, 'MODULE_FINANZAS')}"
                class="text-decoration-none text-light" title="Transacciones"><i class="ri-cash-line fs-5"></i></a>
            <a th:href="@{/transactions/payments}" th:if="${#lists.contains(modules, 'MODULE_FINANZAS')}"
                class="text-decoration-none text-light" title="Pago a Trabajadores"><i class="ri-money-dollar-circle-line fs-5"></i></a>
            <a th:href="@{/workers}" th:if="${#lists.contains(modules, 'MODULE_TRABAJADORES')}"
                class="text-decoration-none text-light"><i class="ri-team-fill fs-5"></i></a>
            <a th:href="@{/tasks}" th:if="${#lists.contains(modules, 'MODULE_TAREAS')}"
                class="text-decoration-none text-light"><i class="ri-task-fill fs-5"></i></a>
        </nav>
        <div class="footer-icons d-flex flex-column justify-content-center p-2 bg-dark">
            <a th:href="@{/config}" th:if="${#lists.contains(modules, 'MODULE_CONFIG')}"
                class="text-decoration-none text-light"><i class="ri-settings-3-fill fs-5"></i></a>
            <a th:href="@{/logout}"
                class="text-decoration-none text-light"><i class="ri-logout-box-r-line fs-5"></i></a>
        </div>
    </aside>
</body>

</html>