<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="userModals">

    </div>
    <div th:fragment="rolModals">
        <div class="modal fade" id="modalAddRole" tabindex="-1" aria-labelledby="modalAddRole" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/config/new-role}" id="addRoleForm" class="needs-validation"
                            novalidate>
                            <div>
                                <label for="nombreRolInput" class="form-label mt-4">Nombre <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombreRolInput" name="roleName"
                                    minlength="2" maxlength="50" placeholder="Ingrese el nombre del rol"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">El nombre es requerido</div>
                            </div>
                            <div>
                                <label for="descripcionRolInput" class="form-label mt-4">Descripción </label>
                                <input type="text" class="form-control" id="descripcionRolInput" name="description"
                                    maxlength="100" placeholder="Ingrese la descripción del rol" autocomplete="off">
                            </div>

                            <fieldset>
                                <legend class="mt-4">Modulos</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="cBxTrabajadores"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxTrabajadores">
                                        Trabajadores
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" id="cBxFinanzas"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxFinanzas">
                                        Finanzas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" id="cBxTareas"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxTareas">
                                        Tareas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" id="cBxParcelas"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxParcelas">
                                        Parcelas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="5" id="cBxConfig"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxConfig">
                                        Config
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="6" id="cBxDashboardAdmin"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxDashboardAdmin">
                                        Dashboard Administrativo
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="7" id="cBxDashboardUsuario"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxDashboardUsuario">
                                        Dashboard usuario
                                    </label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btn-submit-add-role">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalEditRole" tabindex="-1" aria-labelledby="modalEditRoleLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/config/edit-role}" id="editRoleForm" class="needs-validation"
                            novalidate>
                            <input type="number" id="roleIdInputEdit" name="roleId" hidden required>
                            <div>
                                <label for="nombreRolInputEdit" class="form-label mt-4">Nombre <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombreRolInputEdit" name="roleName"
                                    minlength="2" maxlength="50" placeholder="Ingrese el nombre del rol"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">El nombre es requerido</div>
                            </div>
                            <div>
                                <label for="descripcionRolInputEdit" class="form-label mt-4">Descripción </label>
                                <input type="text" class="form-control" id="descripcionRolInputEdit" name="description"
                                    maxlength="100" placeholder="Ingrese la descripción del rol" autocomplete="off">
                            </div>

                            <fieldset id="fieldSetModulosEdit">
                                <legend class="mt-4">Modulos</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="cBxTrabajadoresEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxTrabajadoresEdit">
                                        Trabajadores
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" id="cBxFinanzasEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxFinanzasEdit">
                                        Finanzas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" id="cBxTareasEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxTareasEdit">
                                        Tareas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" id="cBxParcelasEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxParcelasEdit">
                                        Parcelas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="5" id="cBxConfigEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxConfigEdit">
                                        Config
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="6" id="cBxDashboardAdminEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxDashboardAdminEdit">
                                        Dashboard Administrativo
                                    </label>
                                </div>
                                 <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="7" id="cBxDashboardUsuarioEdit"
                                        name="modulos">
                                    <label class="form-check-label" for="cBxDashboardUsuarioEdit">
                                        Dashboard usuario
                                    </label>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btn-submit-edit-role">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDeleteRole" tabindex="-1" aria-labelledby="modalDeleteUser" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content border-danger text-white bg-dark">
                    <div class="modal-header border-danger">
                        <h5 class="modal-title">Eliminar Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="textDeleteRol">¿Está seguro de que desea eliminar el rol?</p>
                        <form method="post" th:action="@{/config/delete-role}" id="deleteRoleForm"
                            class="needs-validation" novalidate>
                            <input type="number" id="roleIdInputDelete" name="roleId" hidden required>
                        </form>
                    </div>
                    <div class="modal-footer border-danger fw-bolder">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btn-submit-delete-role">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="userModals">

        <div class="modal fade" id="modalAddUser" tabindex="-1" aria-labelledby="modalAddUser" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/config/new-user}" id="addUserForm" class="needs-validation"
                            novalidate>
                            <div>
                                <label for="nombreInput" class="form-label mt-4">Nombre <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombreInput" name="nombre" minlength="3"
                                    maxlength="100" placeholder="Ingrese el nombre del usuario" autocomplete="off"
                                    required>
                                <div class="invalid-feedback">El nombre es requerido</div>
                            </div>
                            <div>
                                <label for="apellidoInput" class="form-label mt-4">Apellido <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="apellidoInput" name="apellido" minlength="3"
                                    maxlength="100" placeholder="Ingrese el apellido del usuario" autocomplete="off"
                                    required>
                                <div class="invalid-feedback">El apellido es requerido</div>
                            </div>

                            <div>
                                <label for="roleSelect" class="form-label mt-4">Rol <span
                                        class="text-danger">*</span></label>
                                <select class="form-select" id="roleSelect" aria-label="Default select example"
                                    name="role" required>
                                    <option value="">-- Seleccione un rol --</option>
                                </select>
                                <div class="invalid-feedback">El rol es requerido</div>
                            </div>
                            <div>
                                <label for="usernameInput" class="form-label mt-4">Nombre de usuario <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="usernameInput" autocomplete="off"
                                    minlength="5" maxlength="100" name="username" aria-describedby="userNameHelp"
                                    placeholder="Enter username" required>
                                <small id="userNameHelp" class="form-text text-muted">El nombre de usuario debe ser un
                                    nombre único y servira para iniciar sesión.</small>
                                <div class="invalid-feedback">El nombre de usuario es requerido</div>
                            </div>
                            <div>
                                <label for="passwordInput" class="form-label mt-4">Password <span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="passwordInput" name="password"
                                    minlength="8" maxlength="20" aria-describedby="passwordHelp" placeholder="Password"
                                    autocomplete="off" required>
                                <small id="passwordHelp" class="form-text text-muted">La contraseña debe tener al menos
                                    8 caracteres.</small>
                                <div class="invalid-feedback">La contraseña es requerida</div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btn-submit-add-user">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalEditUser" tabindex="-1" aria-labelledby="modalEditUser" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/config/edit-user}" id="editUserForm" class="needs-validation"
                            novalidate>
                            <input type="number" id="userIdInputEdit" name="userId" hidden>
                            <div>
                                <label for="nombreInput" class="form-label mt-4">Nombre <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombreInputEdit" name="nombre" minlength="3"
                                    maxlength="100" placeholder="Ingrese el nombre del usuario" autocomplete="off"
                                    required>
                                <div class="invalid-feedback">El nombre es requerido</div>
                            </div>
                            <div>
                                <label for="apellidoInput" class="form-label mt-4">Apellido <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="apellidoInputEdit" name="apellido"
                                    minlength="3" maxlength="100" placeholder="Ingrese el apellido del usuario"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">El apellido es requerido</div>
                            </div>

                            <div>
                                <label for="roleSelectEdit" class="form-label mt-4">Rol <span
                                        class="text-danger">*</span></label>
                                <select class="form-select" id="roleSelectEdit" aria-label="Default select example"
                                    name="role" required>
                                    <option value="">-- Seleccione un rol --</option>
                                </select>
                                <div class="invalid-feedback">El rol es requerido</div>
                            </div>
                            <div>
                                <label for="usernameInput" class="form-label mt-4">Nombre de usuario <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="usernameInputEdit" autocomplete="off"
                                    minlength="5" maxlength="100" name="username" aria-describedby="userNameHelp"
                                    placeholder="Enter username" required>
                                <small id="userNameHelp" class="form-text text-muted">El nombre de usuario debe ser un
                                    nombre único y servira para iniciar sesión.</small>
                                <div class="invalid-feedback">El nombre de usuario es requerido</div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btn-submit-edit-user">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalEditPasswordUser" tabindex="-1" aria-labelledby="modalEditPasswordUser"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Contraseña</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/config/edit-password-user}" id="editPasswordForm"
                            class="needs-validation" novalidate>
                            <input type="number" id="userIdInputEditPassword" name="userId" hidden>
                            <div>
                                <label for="usernameInputEditPassword" class="form-label mt-4">Nombre de usuario</label>
                                <input type="text" class="form-control" id="usernameInputEditPassword"
                                    autocomplete="off" aria-describedby="userNameHelp" placeholder="Enter username"
                                    disabled>
                            </div>
                            <div>
                                <label for="passwordInputEditPassword" class="form-label mt-4">Nueva Contraseña<span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="passwordInputEditPassword" minlength="8"
                                    maxlength="20" name="password" aria-describedby="passwordHelp"
                                    placeholder="Password" autocomplete="off" required>
                                <small id="passwordHelp" class="form-text text-muted">La contraseña debe tener al menos
                                    8 caracteres.</small>
                                <div class="invalid-feedback">La contraseña es requerida</div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btn-submit-edit-password-user">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDeleteUser" tabindex="-1" aria-labelledby="modalDeleteUser" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content border-danger text-white bg-dark">
                    <div class="modal-header border-danger">
                        <h5 class="modal-title">Eliminar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="textDelete">¿Está seguro de que desea eliminar al usuario?</p>
                        <form method="post" th:action="@{/config/delete-user}" id="deleteUserForm"
                            class="needs-validation" novalidate>
                            <input type="number" id="userIdInputDelete" name="userId" hidden>
                        </form>
                    </div>
                    <div class="modal-footer border-danger fw-bolder">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btn-submit-delete-user">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>