<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

    <div class="d-flex vh-100">
        <div th:replace="~{fragments :: sidebar}"></div>

        <main class="content-area p-4 w-100 bg-light">
            <header class="d-flex justify-content-between">
                <h1>Configuración</h1>
                <i class="ri-user-3-fill profile-icon"></i>
            </header>
            <div class="page-content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" th:classappend="${activeTab == 'usuarios'} ? 'active' : ''"
                            data-bs-toggle="tab" href="#usuarios" aria-selected="true" role="tab">Usuarios</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" th:classappend="${activeTab == 'roles'} ? 'active' : ''"
                            data-bs-toggle="tab" href="#roles" aria-selected="false" role="tab" tabindex="-1">Roles</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="fade pb-3 pt-1 px-2 tab-pane" id="usuarios" role="tabpanel"
                        th:classappend="${activeTab == 'usuarios'} ? 'show active' : ''">
                        <div class="d-flex flex-nowrap justify-content-end options w-100 py-2">
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalAddUser">Agregar Usuario</button>
                        </div>
                        <div class="col-12 g-2 row w-100" id="cardsContainerUsers">
                            <!-- Se carga por JavaScript cards d-flex flex-wrap flex-row g-2 col-12-->
                        </div>
                    </div>
                    <div class=" fade pb-3 pt-1 px-2 tab-pane" id="roles" role="tabpanel"
                        th:classappend="${activeTab == 'roles'} ? 'show active' : ''">
                        <div class="options d-flex justify-content-end flex-nowrap py-2">
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalAddRole">Agregar Rol</button>
                        </div>
                        <div class="col-12 g-2 row w-100" id="cardsContainerRoles">
                            <!-- Se carga por JavaScript -->
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <!-- USUARIOS -->
        <div th:replace="~{home/config/_modalsConfig :: userModals}"></div>

        <!-- ROLES -->
        <div th:replace="~{home/config/_modalsConfig :: rolModals}"></div>

        <script th:src="@{/js/config/config.js}"></script>
</body>

</html>